@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100wh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: black;
    overflow: scroll;
    padding: 0 10%;
}

.container {
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
    
}


.left {
   
    width: 40%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("cherry-blossom.jpg");
    background-size: cover;
    /*
    */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e2ddd7;
    opacity: .5;
    margin-top: 50%;
    gap: 7px;
    width: 100%;
    height: 14%;
    font-size: 5rem;
}

.logo {
    /*
    mix-blend-mode: multiply;
    filter: contrast(200%);
    */
    width: 20%;
    height: auto;
}

footer {
    color: gray;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}
.title-name {
    font-family: Norse-Bold, Georgia, 'Times New Roman', Times, serif;
}

/***************/
.right {
    width: 60%;
    padding-left: 3%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
/***************/

.right > div:first-child {
    
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-bottom: 10%;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
}


/**************/

form > p:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}

label {
    margin-bottom: 7px;
    font-size: 14px;
}

input {
    font-size: 16px;
    border: 1px solid rgb(213, 207, 207);
    height: 30px;
    width: 100%;
    border-radius: 3px;

}
input:focus {
    outline: none;
    border: 1px solid rgb(13, 46, 80);
    box-shadow: 2px 2px rgb(196, 189, 189);
}

input:required + span::before {
    content: "(*)";
    color: black;
    position: absolute;
    font-size: 15px;
    right: -18px;
    top: 5px;
    text-align: center;
    width: 65px;
    height: 20px;
    border-radius: 2px;
}
input:valid + span::after {
    content: "✓";
    color: greenyellow;
    
}
input + span::after {
    position: absolute;
    top: 33px;
    right: -13px;
}
input:invalid + span::after {
    content: "x";
    color: red;
    
}
.user-info div {
    display: flex;
}
.user-info > div {
    gap: 10%;
    margin-bottom: 3%;
    flex-wrap: wrap;
}
.user-info > div > div {
    flex-direction: column;
    gap: 5px;
    position: relative;
    
}
.user-info + div {
    margin-left: -5%;
    padding-left: 5%;
    padding-top: 3%;
    font-size: 17px;
    border-top: 1px solid rgb(191, 191, 191);
    box-shadow: 0 3px rgb(218, 215, 215) inset;
    /*
    */
    
}
button[type="submit"] {
    color: white;
    background-color: darkolivegreen;
    border-radius: 5px;
    padding: 1% 8%;
    box-shadow: none;
    outline: none;
    border: none;
}
button[type='submit']:hover {

    background-color: rgb(148, 186, 82);
}
button[type="submit"] + div {
    display: flex;
    gap: 1%;
    margin-top: 5%;
    margin-bottom: 23%;
}

button + div > button {
    color: darkolivegreen;
    border: none;
}

button + div > button:hover {
    font-weight: bold;
}


